<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <link rel="stylesheet" href="/booking.css">

</head> 
<body>
    <h1>Confirm Your Booking</h1>
    <section class="booking_page">
        <div class="details">
        <div class="location_details">
            <div>
                <h3>Contact Information</h3>
            <input class="info" type="text" placeholder="Full Name" name="fullname" required>
            <input class="info"  type="tel" placeholder="Phone Number" name="phonenumber" required>
            <input class="info" type="text" name="Address_Line_1" placeholder="Address Line 1" required>
            <input class="info" type="text" name="Address_Line_2" placeholder="Address Line 2">
            <input class="info" tyep="number" name="pincode" placeholder="Pin Code" required> 
         </div>
        <h4>Your Location:</h4>
            <div id="map"></div>
            
        </div>
        <div class="Payment_Details">

        </div>
    </div>
    <div class="booking_details">
    <h3>Booking Details</h3>
    <h4>Menu:</h4>
    <%if(locals.Menu)%>
    <p><%=Menu%></p>
    <hr>
    <h4>Number of People</h4>
    <%if(locals.guests){%>
    <p><%=guests%></p>
    <%}%>
    <hr>
    <h4>Booking Date</h4>
    <%if(locals.bookingDate){%>
        <p><%=bookingDate%></p>
        <%}%>
        <hr>
    <h4>
    Timing
    </h4>
    <%if(locals.timing){%>
        <p><%=timing%></p>
        <%}%>
 <hr>
    <h4>Total Bill</h4>

        <%if(locals.totalAmount){%>
            <p><%=totalAmount%></p>
            <%}%>


    </div>
   
</section>
<input type="submit" name="Confirm Booking" value="Confirm Booking" id="submit">    
    <script src="js/bookingjs.js" charset="UTF-8"></script>
</body>
</html>